body{
  background-color: silver;
}

input.form-control{
  border-radius: 20px;
  margin: 10px;
}

button.btn.btn-block{
  border-radius: 20px;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  margin: 10px;

}


button.btn.btn-block:hover{
  background-color: rgba(0,0,0,0.85);
}


label{
  text-transform: uppercase;
}


.thumbnail>img{
  margin-top: 15px;
}

.thumbnail .caption{
  padding: 20px;
}